@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.article {
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  background-color: #202124;
  color: #bdc1c5;
}

.article h1 {
  margin-bottom: 20px;
}

.article .article-para {
  font-size: large;
  padding-bottom: 5px;
}

.article .article-code {
  font-family: 'Red Hat Mono', monospace;
  /* border: 2px red solid; */
  background-color: rgb(60, 60, 60);
  border-radius: 10px;
  padding: 10px;
}

.article .article-math {
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  word-spacing: normal;
}
