@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap');

.commandline {
  font-family: 'Red Hat Mono', monospace;
  background-color: black;
}

.fancy {
  font-family: 'Major Mono Display', monospace;
}

.terminal {
  font-family: 'Red Hat Mono', monospace;
  color: #39ff14;
  background-color: black;
  min-height: 100%;
}

@media screen and (orientation: portrait) {
  .terminal {
    font-size: 10px;
  }
}
@media screen and (orientation: landscape) {
  .terminal {
    font-size: 16px;
  }
}

.terminal textarea:focus input:focus {
  outline: none;
}

.terminal *:focus {
  outline: none;
}

.terminal.p::selection {
  background: red; /* WebKit/Blink Browsers */
}
.terminal.p::-moz-selection {
  background: red; /* Gecko Browsers */
}
.terminal.p::-webkit-selection {
  background: red;
}

textarea {
  border: none;
  /* padding: 0 10px; */
  margin: 0;
  display: inline-block;
  background: none;
  font-family: 'Red Hat Mono', monospace;
  color: #39ff14;
  background-color: black;
  word-wrap: break-word;
  word-break: break-all;
  resize: none;
  width: auto;
  width: 50%;
}

@media screen and (orientation: portrait) {
  textarea {
    font-size: 10px;
  }
}
@media screen and (orientation: landscape) {
  textarea {
    font-size: 16px;
  }
}

.terminal-line * {
  vertical-align: top;
}
