@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap');

.commandline {
  font-family: 'Red Hat Mono', monospace;
  background-color: black;
}

.fancy {
  font-family: 'Major Mono Display', monospace;
}

.terminal {
    font-family: 'Red Hat Mono', monospace;
    color: green;
    background-color: black;
    font-size: 16px;
    min-height: 100%;
}

.terminal textarea:focus input:focus {
    outline: none;
}

.terminal *:focus {
    outline: none;
}

input, textarea {
    /* font    : .9em/1.5em "handwriting", sans-serif; */
    border  : none;
    padding : 0 10px;
    margin  : 0;
    width   : 240px;
    display: inline-block;
    background: none;
    font-family: 'Red Hat Mono', monospace;
    color: green;
    background-color: black;
    font-size: 16px;

    word-wrap: break-word;
    word-break: break-all;

    /* width: 100%; */
    /* box-sizing: border-box; */
}

/* .terminal-line {
    vertical-align: top;
} */

textarea {
    display: block;
    resize: none;
}