.home-page {
  font-family: 'Roboto', sans-serif;
  max-width: 800px;
  margin: auto;
}

.home-page h1 {
  margin: 2vh;
  color: white;
}

.home-paragraph {
  margin: 2vh;
  margin-bottom: 2vh;
  color: white;
  /* Add some transition properties */
  transition: 0.6s ease-in-out;
}
