@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: #1f2937;
}

@media screen and (orientation: portrait) {
  .home-page h1 {
    font-size: 2rem;
  }
}
@media screen and (orientation: landscape) {
  .home-page h1 {
    font-size: 4rem;
  }
}

.home-page h1 {
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
  opacity: 0;
  transform: translateY(50%);
  animation: slide-in 1s ease-out forwards;
}

#home-page-blurb {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 800px;
  margin-left: 2vh;
  margin-right: 2vh;
  opacity: 0;
  transform: translateY(50%);
  animation: slide-in 1s ease-out forwards;
  animation-delay: 0.5s;
}

.home-paragraph {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-align: left;
  opacity: 0;
  transform: translateY(50%);
  animation: slide-in 1s ease-out forwards;
  animation-delay: 1s;
}

.home-paragraph:last-of-type {
  margin-bottom: 0;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
