.typing-container {
  padding-top: 100px !important;
  display: inline-block;
}

@media screen and (orientation: portrait) {
  .typing-container {
    font-size: 10px;
  }
}
@media screen and (orientation: landscape) {
  .typing-container {
    font-size: 16px;
  }
}

.typed {
  overflow: hidden;
  white-space: pre;
  width: 0;
  animation: typing, blink-caret;
  animation-duration: 1.5s, 0.5s;
  animation-timing-function: steps(40, end), step-end;
  animation-iteration-count: 1, 5;
  border-right: 0.4em solid #39ff14;
  animation-fill-mode: forwards;
}

.typed1 {
  animation-delay: 0s;
}

.typed2 {
  animation-delay: 0.2s;
}

.typed3 {
  animation-delay: 0.4s;
}

.typed4 {
  animation-delay: 0.6s;
}

.typed5 {
  animation-delay: 0.7s;
}

.typed6 {
  animation-delay: 0.9s;
}

.typed7 {
  animation-delay: 1.1s;
}

.typed8 {
  animation-delay: 1.3s;
}

.typed9 {
  animation-delay: 1.5s;
}

.typed10 {
  animation-delay: 1.7s;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #39ff14;
  }
}
