.App {
  text-align: left;
  font-family: 'Titillium Web', sans-serif;
}

.App-header {
  background-color: #1e1e1e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ptext {
    font-size: medium;
}

a{
  color: white;
}

.sysmon {
    display: flex;
    justify-content: center;
}

.gap {
    padding-top: 3vh;
}