@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.articles-title {
  margin-bottom: 20px;
}

.article-list {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.article-list-element {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: #0a121c;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  align-items: center;
  transition: all 0.4s ease-in-out;
}

.article-list-element img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.article-title-desc {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article-title-desc p {
  font-size: 16px;
}

.article-title-desc p {
  color: #cccccc;
}

@media (min-width: 768px) {
  .article-list-element:hover {
    scale: 1.05;
  }
}
