@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.articles-title {
  margin-bottom: 5vh;
}

.article-list-element {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
  /* margin-bottom: 2vh; */
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0);
  padding: 5px;
  border-radius: 5px;
}

@media screen and (orientation: portrait) {
  .article-list-element {
    max-width: 1000px;
  }
}
@media screen and (orientation: landscape) {
  .article-list-element {
    max-width: 1000px;
  }
}

.article-list-element:hover {
  transition: 0.5s ease-out;
  transform: scale(1.05);
  background-color: rgb(43, 46, 85);
}

.article-list-element hr {
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.article-list-element img {
  width: 5vw;
  height: 5vw;
  min-height: 80px;
  min-width: 80px;
  object-fit: cover;
  float: left;
  margin-right: 10px;
  clear: both;
}

.article-list-element p {
  margin-left: 0px;
  overflow: auto;
  display: block;
}

@media screen and (orientation: portrait) {
  .article-list-element p {
    font-size: smaller;
    line-height: normal;
  }
}
@media screen and (orientation: landscape) {
  .article-list-element p {
    font-size: medium;
  }
}

@media screen and (orientation: portrait) {
  .article-list-element h3 {
    font-size: medium;
    line-height: normal;
  }
}
@media screen and (orientation: landscape) {
  .article-list-element h3 {
    font-size: large;
  }
}
