@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap');

.page {
  font-family: 'Red Hat Mono', monospace;
  color: white;
  margin: 20px;
}

.page h1 {
  text-align: center;
}

.page a {
  color: white;
  transition: all 0.2s ease-in-out;
}
.page a:hover {
  color: red;
  transform: scale(1.2);
}

.languages {
  display: flex;
  justify-content: space-around;
}

/* .languages > * {
  display: block;
  margin: 100px;
} */

.language-name-pair {
  display: block;
  text-align: center;
}

.language-display {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.language-display img {
  height: 50px;
  width: 50px;
}
